.footer-container {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .footer-column-no {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 15%;
   
  }

  .footer-column-list {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 15%
  }
  
  .no-list-style {
    list-style-type: none; 
    padding-left: 0px;
    margin: 20px;
    margin-left: 15%;
}

  
.h3{
    margin-bottom: 8px;
} 
  
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 30px;
    margin-left: 10%;
  }
  
  .info-item {
    display: flex;
    align-items: center;
  }
  
  .info-item img {
    margin-right: 10px; 
  }
  



  @media only screen and (max-width: 800px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      padding: 20px; 
      width: 100%;
    }
  
    .footer-column {
      /* margin-bottom: 10px;
      align-items: center; */
      display: none;
    }
  
    .contact-info {
      flex-direction: column; 
      align-items: center;
      margin-top: 20px;
    }

    .copy{
  background-color: black;
  padding: 30px;
  color: #FFF;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; 
    }


    .copy-p{
      background-color: black;
      padding: 30px;
      color: #FFF;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; 
        }
  }


  @media only screen and (min-width: 800px) and (max-width: 3000px) {
    .copy{
      display: none;
    }
  }
  
  /* .copy{
  background-color: black;
  padding: 30px;
  color: #FFF;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; 
} */
  