.header {
    position: relative;
    background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  /* z-index: -1; */
  width: 100%;
  height: 80vh;
  padding-top: 12%;
  /* padding-right: 50px; */
  color: #fff;

  display: flex;
    
  }

  @media screen and (max-width: 768px) {
    .margin {
      height: 40vh;
    }
    .header {
      background-position: center;
      padding-top: 50%;
      height: 50vh;
    }
    .header  {
      width: 100%;
    }
  }

 .first-header{
  color: white;
  gap: 10px;
  align-items: center;
   text-align: center;
   font-family: Roboto, sans-serif;  
   font-size: 20px;
   font-style: normal; 
   font-weight: 400;
  letter-spacing: 0.2px; 
  line-height: 150%;
 } 
  
  .gradient {
    position: relative;
    width: 100%;
    height: 100%;
   
}
  

.gradient-text{
  position: relative;  
  height: 360px; 
  flex-shrink: 0; 
  padding: 30px; 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%); 
  top: 300px;
  width: 100%;
}


@media screen and (min-width: 1980px) and (max-width: 3000px) {
  .gradient-text {
    height: 360px; 
    width: 100%;
    top: 900px; 
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    flex-shrink: 0; 
    padding: 30px; 
    position: relative; 
  }
}


@media screen and (min-width: 1200px) and (max-width: 1980px) {
    .gradient-text {
      width: 100%;
      padding: 50px;
      top: 800px;
      height: 360px;
      margin-bottom: 30px
      }
}

@media screen and (min-width: 1028px) and (max-width: 1290px) {
  .gradient-text {
    height: 360px; 
    width: 100%;
    top: 1250px; 
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
    flex-shrink: 0; 
    padding: 30px; 
    position: relative; 
  }
}


/* @media screen and (min-width: 769px) and (max-width: 1200px) {
  .gradient-text {
    height: 3150px; 
    width: 100%;
    top: 300px; 
  }
} */
  

  .first-img{
    width: 100%;

  }

  
  /* .gradient > div {
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    background: #FFE39B;
    width: 20%;
    padding: 30px;
  } */
  
  .img-text {
    margin: 0;
  }
  
  /* .gradient > div + div {
    position: relative;
    width: 100%;
    height: 315px;
    flex-shrink: 0;
    padding: 30px;
    top: -250px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0E0E0E 66.15%);
  } */
  
  .header-h2 {
    color: white;
    text-align: center;
    gap: 10px;
    align-items: center;
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 62px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
  }
  
  .first-header {
    /* color: white; */
    gap: 10px;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 150%;
  }
  
  @media (max-width: 768px) {
    .gradient{
      height: 400px;
    }

    .gradient > div {
      width: 80%;
      height: 400px;
    }
  
    .first-img{
      height: 250px;
      margin-top: 60px
    }


    h2 {
      font-size: 36px;
      line-height: 42px;
    }
  
    p {
      font-size: 16px;
      line-height: 130%;
    }
  }
  
  @media (max-width: 480px) {
    .gradient > div {
      width: 100%;
    }
  
    h2 {
      font-size: 28px;
      line-height: 32px;
    }
  
    p {
      font-size: 14px;
      line-height: 120%;
    }
  }
  

  @media only screen and (max-width: 768px) {
    .gradient > div {
      width: 100%; 
      padding: 15px; 
      transform: translate(0, -50%); 
    }
  
    .gradient > div + div {
    width: 100%;
    padding: 50px;
    top: 400px;
    height: 330px;
    margin-bottom: 30px
    }
  }
  
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .gradient > div {
      width: 100%; 
      padding: 20px; 
      transform: translate(0, -50%); 
    }
  
    .gradient > div + div {
      width: 100%; 
      padding: 20px; 
      top: 1400px; 
    }
  }


  @media only screen and (min-width: 400px) and (max-width: 600px) {
    .gradient > div {
      width: 100%; 
      padding: 20px; 
      transform: translate(0, -50%); 
    }
  
    .gradient > div + div {
      width: 100%; 
      height: 330px;
      /* padding: 20px;  */
      top: 400px;
    }
  }

