html{
  scroll-behavior: smooth;
  scroll-padding: 80px;
  font-style:normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.body{
  background-color: black;
  width: 100%;
}


.nav{
  background-color: black;
  color: white;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav ul{
padding: 0;
margin: 0;
list-style: none;
display: flex;
gap: 1rem;
color: white;
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.20px;
word-wrap: break-word;
padding: 10px;
justify-content: flex-start;
align-items: center;
gap: 10px;
display: flex;
width: 100%;
height: 100%;
justify-content: flex-start;
align-items: center;
gap: 31px;
display: inline-flex;
}

.site-title{
font-size: 16px;
font-family: Roboto;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.20px;
word-wrap: break-word;
width: 100%;
height: 100%;
padding: 10px;
justify-content: flex-start;
align-items: center;
gap: 10px;
display: inline-flex;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

.header{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@media only screen and (max-width: 576px) {
  .nav {
    flex-direction: column;
    text-align: center;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
  }

  .site-title {
    margin-top: 20px; /* Változtasd meg a szükségleteidnek megfelelően */
  }

  .header {
    height: 200px; /* Változtasd meg a szükségleteidnek megfelelően */
  }
}